/* color:light  #7ed56f
dark  #28b485
medium  #55c57a */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
 box-sizing: inherit;
}
html {
  font-size: 62.5%;

}
body {
  font-family:"Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  padding: 3rem ;
  box-sizing: border-box;
  min-width: 62.5rem;
}
.icon {
  font-size: 6.3rem;
  color: #55c57a;
}

.margin__t {
  margin-top: 8rem;
}
.margin__h {
  margin-top: 10rem;
}
.margin__b-small {
  margin-bottom: 1.5rem !important;
}
.margin__b-middle {
  margin-bottom: 4rem !important;
}
.grid {
  display: grid;
  max-width: 114rem;
  margin: 0 auto;
}
.grid__1 {
  grid-template-columns: 1fr;
}
.grid__2 {
  grid-template-columns: repeat(2,1fr);
}
.grid__3 {
  grid-template-columns: repeat(3,1fr);
}
.grid__4 {
  grid-template-columns: repeat(4,1fr);
}
.grid-footer {
  display: grid;
}

/* ********************** */
/* heding section */
/* ********************** */

.heading__primary {
  color:  #faecdb ; 
  text-transform: uppercase;
  margin-bottom: 6.4rem;
 
}
.heading__secondary {
font-size: 3.5rem;
text-transform: uppercase;
font-weight: 700;
background-image: linear-gradient( to right bottom, hsl(111, 55%, 64%),hsla(160, 64%, 43%, 0.973));
display: inline-block;
-webkit-background-clip:text;
color: transparent;
}
.heading__tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.heading__primary_main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 2s ease-out;

}
.heading__primary_sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  animation: moveInRight 2s ease-out;
}
.header {
  height: 95vh;
  background-image:linear-gradient( to right bottom, hsla(111, 55%, 64%, 0.8),hsla(160, 64%, 43%, 0.8)), url(./images/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.logo__box {
position: absolute;
top: 4rem;
left: 4rem;
}
.logo {
  height: 12.5rem;
  margin: -2.2rem;
  padding: 0;
}

.text__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
@keyframes moveInLeft {
  0%{
opacity: 0;
transform: translateX(-100px);
  }
  80%{
    transform: translateX(0);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0%{
opacity: 0;
transform: translateX(10rem);
  }
  80%{
    transform: translateX(0);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.btn-text:link,
.btn-text:visited {
  display: inline-block;
  color:  #28b485;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.3rem;
  border-bottom: 1px solid #28b485;
  transition: all 0.2s;
  margin-top: 2rem;
}
.btn-text:hover{
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.219);
  background-color: #28b485;
  color: white;

} 
.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.219);
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding:1.5rem 3.6rem ;
  border-radius: 10rem;
  transition: all 0.2s;
  border: none;

}
.btn_white {
  color: #777;
  background-color: #fff;
}
.btn_green {
  color: #f7f7f7;
  background-color:  #55c57a;

}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.219);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.219);

}
/* ********************** */
/* section about  */
/* ********************** */
.section__about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
.u__center--text {
  text-align: center;
}
.margin__b {
  margin-bottom: 8rem;
}
.about__box {
  margin: 0 2.4rem;
}
.about__box-text,
.about__box-img {
  padding: 2.4rem;
}
.paragraph {
  font-size: 1.6rem;
  
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}
.composition {
  position: relative;
}
.composition__photo {
width: 55%;
box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4 );
border-radius: 2px;
position: absolute;
z-index: 10;
transition: all .2s;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 15rem;
}
.composition__photo:hover {
  outline: 0.3rem solid #7ed56f;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5 );
  z-index: 20;

}
/* ********************** */
/* section  feature*/
/* ********************** */
.section__features {
  padding: 20rem 0;
  background-image:linear-gradient( to right bottom,
  hsla(111, 55%, 64%, 0.8),
  hsla(160, 64%, 43%, 0.8)), url(./images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
 }
 .section__features>* {
  transform: skewY(7deg);

 }
.box{
  background-color: rgba(255, 255, 255, 0.801);
  font-size: 1.5rem;
  padding: 2.3rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5 );
  margin:0 2.5rem ;
  transition: all .3s;

}
.box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.features__box {
  margin:0 6rem;
  text-align: justify;
}
.section__tours {
 padding: 25rem 0 15rem 0;
 background-color: #f7f7f7;
 margin-top: -10rem;
}
.tours__box {
  margin: 0 6rem;
 }
 .tour-box {
  padding: 2.5rem;
 }
 .card {
  perspective: 150rem;
 -moz-perspective: 150rem;
 position: relative;
 height: 52rem;

 }
 .card__side {
  height: 52rem;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.384);
  overflow: hidden;

 }
 .card:hover .card__side-front{
  transform: rotateY(-180deg);
 }
 .card:hover .card__side-back{
  transform: rotateY(0deg);
 }
.card__side-front {
background-color: #fff;
}
.card__side-back {
transform: rotateY(180deg);
}
.card__side-back--1 {
  background-image: linear-gradient(to right bottom,#ffb900,#ff7730);
}
.card__side-back--2 {
  background-image: linear-gradient(to right bottom,#55c57a,#7ed56f);
}
.card__side-back--3 {
  background-image:linear-gradient(to right bottom,#2998ff,#5643fa) ;
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80% , 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80% , 0 100%);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.card__picture--1{
  background-image:linear-gradient(to right bottom,#ffb900,#ff7730),
  url(./images/nat-5.jpg);

}
.card__picture--2{
  background-image:linear-gradient(to right bottom,#55c57a,#7ed56f),
  url(./images/nat-6.jpg);
}
.card__picture--3{
  background-image:linear-gradient(to right bottom,#2998ff,#5643fa),
  url(./images/nat-7.jpg);
  
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span  {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1  {
background-image:linear-gradient(to right bottom,rgba(255, 187, 0, 0.85),rgba(255, 120, 48, 0.85));
}
.card__heading-span--2  {
  background-image: linear-gradient(to right bottom,rgb(85, 197, 122),rgb(126, 213, 111));
  ;}
  .card__heading-span--3  {
    background-image:linear-gradient(to right bottom,rgb(41, 152, 255),rgb(86, 67, 250));
    }
.card__detail  {
  padding: 3rem;
}
.card__detail ul{
  list-style: none;
  width: 80%;
  margin: 0 auto;

}
.card__detail li{
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.card__detail li:not(:last-child){
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate( -50% ,-50%);
  width: 90%;
  text-align: center;
}
.card__price-box{
 text-align: center;
 margin-bottom: 8rem;
}
.card__price-only{
 font-size: 1.4rem;
 text-transform: uppercase;
}
.card__price-value{
  font-size: 6rem;
  font-weight: 100;
}
.section__stories {
  padding: 15rem 0;
  /* background-color: #fff; */
  position: relative;
}
.bg__video-head {
  color: #0f9165;
}
.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: .35;
}
.bg__video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.row {
  margin-top: 10rem;
}
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.274);
  background-color: rgba(255, 255, 255, 0.678);
  padding: 6rem;
  border-radius: 3px;
  font-size: 1.6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
} 

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  background-color: rgb(255, 255, 255);
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX( 12deg);
}
.story__text {
  transform: skewX( 12deg);

}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all .5s;

}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: 600;
  transform: translate(-50% , 20%);
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
transform: translate(-50%,-50%);
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}
.section__booking {
  padding: 12rem 0 5rem 0; 
  background-image:linear-gradient( to right bottom,
  hsl(111, 55%, 64%),
  hsl(160, 64%, 43%));
}

.book {
  background-image:linear-gradient(105deg,
  rgba(255, 255, 255, 0.7)0%,
  rgba(255, 255, 255, 0.7)50%,
  transparent 50%)
  ,url(./images/nat-10.jpg);
  background-size: 100%;
  /* height: 50rem; */
  margin:0 6rem ;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  
}
.book__form {
  width: 50%;
  padding: 5rem;
}

.form__group:not(:last-child) {
margin-bottom: 2rem;
margin-top: -2rem;
}
.form__input {
  font-family: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.756);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem 2rem;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  transition: all .3s;
   margin-top: -2rem;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.144);
  border-bottom: 3px solid #55c57a;

}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #e48a24;

}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 2rem;

  text-align: start;
  margin-top: 0.7rem;
  display: block;
  transition: all .3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio_label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0;
  
}
.form__radio-button::after {
content: "";
display: block;
height: 1.3rem;
width: 1.3rem;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: #55c57a;
opacity: 0;
}
.form__radio_input:checked ~ .form__radio_label .form__radio-button::after {
  opacity: 1;
}
.form__radio_input {
  display: none;
}
.form__radio-group {
  text-align: start;
}
.form-head {
  width: 100%;
  text-align: start;
  padding-left: 2.5rem;
}
.btn-form {
  text-align: start;
  margin-top: 2rem;
}
.footer {
  background: #333;
  font-size: 1.4rem;
  padding: 9rem 0;
}
 .footer__logo-box {
  /* border: 1px solid #000; */
  text-align: center;
  margin-bottom: 5rem;
} 
.footer__logo {
  width: 15rem;
  height: auto;
} 
.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-top: 1px solid white;
  /* border: 1px solid #000; */
  padding: 5rem;
}

.footer__grid {
  text-align: center;

}
.footer-link:link, 
.footer-link:visited {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5rem;
  transition: all 0.5s;
}
.footer-link:hover,
.footer-link:active {
  transform: scale(1.2);
  color: #999;

}

.footer__media {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ion {
  color: white;
  font-size: 3.5rem;
  padding: 2rem;
  transition: all 0.5s;
}
.ion:hover {
  /* box-shadow: 0.1rem .1rem 3rem rgba(245, 222, 179, 0.781); */
  border-radius: 50%;
  color: #999;
  transform: scale(1.3);
}
.copy {
  margin-top: -1rem;
  margin-bottom: -8rem;
  text-align: center;
  padding: 2.5rem;
}
.footer_icon {
  font-size: 1.8rem;
  color: #55c57a;
  
}
.footer__copy-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link:link  {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #999;
  transition: all .5s;
  padding: 2rem;
}
.footer__link:hover {
  color: whitesmoke;
transform: scaleX(1.2);
}
/* *********************** */
/* navigation menu */
/* *********************** */
.nav_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image:linear-gradient( to right bottom,
  hsl(111, 55%, 64%),
  hsl(160, 64%, 43%));
  z-index: 1000;
  /* transform: scale(80); */
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

}
.nav_button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.185);
  cursor: pointer;
  text-align: center;
}
.nav__checkbox {
  display: none;
}
.nav_nav {
  height: 100vh;
  /* width: 100%; */
  position: fixed;
  top:0 ;
  left: 0; 
  /* background-color: orange; */
  z-index: 1500; 
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.nav_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.nav__item {
  margin: 1rem;
}
/* .nav__link {

} */
.nav__link:link,
.nav__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  background-image: linear-gradient(120deg,transparent 0%,transparent 50%,white 50%);
  background-size: 220%;
  transition: all .7s;
}
.nav__link:hover,
.nav__link:active {
  background-image: linear-gradient(120deg,
  rgba(241, 243, 242, 0.5) 50%,
  white -5%,
  white 0%);
  background-size: 100%;
  color: #0f9165;
  transform: translateX(1rem);
}
.nav__checkbox:checked ~ .nav_background {
transform: scale(80);
}
.nav__checkbox:checked ~ .nav_nav {
  opacity: 1;
  width: 100%;
  }
  .nav_icon {
    position: relative;
    margin-top: 3rem;
  }
  .nav_icon,
  .nav_icon::before,
  .nav_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
  }
  .nav_icon::before,
  .nav_icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }
.nav_icon::before {top: -.8rem;}
.nav_icon::after{top: .8rem;}

.nav_button:hover .nav_icon::before {
    top: -1rem;
  }
  .nav_button:hover .nav_icon::after {
    top: 1rem;
  }
  .nav__checkbox:checked + .nav_button .nav_icon  {
background-color: transparent;
  }
  .nav__checkbox:checked + .nav_button .nav_icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .nav__checkbox:checked + .nav_button .nav_icon::after {
    top: 0;
   transform: rotate(-135deg);
    
  }
  .popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }

 
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.247);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%,-50%) scale(.25);
    transition: all .4s .2s;
  }
  .popup:target .popup__content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .popup-left {
    width: 33.3%;
    display: table-cell;
  }
  .popup-right {
    width: 66.6%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  .popup-img {
    display: block;
    width: 100%;

  }
  .popup-text  {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #999999b4;
  }
  .popup:target {
    opacity: 1;
    visibility: visible;  
}
.popup__close:link,
.popup__close:visited {
  display: inline-block;
  color: #999;
  position: absolute;
  font-size: 3rem;
  top: 2.5rem;
  right: 2.5rem;
  text-decoration: none;
  transition: all .3s;
}
.popup__close:hover,
.popup__close:active {
   color: #444;
}
.abrsh-link:link,
.abrsh-link:visited{
  display: inline-block;
  text-decoration: none;
  color: #aaa;
  transition: all .3s;
}
.abrsh-link:hover{
  color: #ddd;
  transform: translateY(-.1rem);
}
.abrsh-link:active{
  color: #aaa;
  transform: translateY(0);
}